@media (max-width: 1140px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    .header-group {
        display: none;
    }

    .join img {
        width: 360px;
    }
    .join-block {
        width: 90%;
    }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .clients-logo {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .blocks-general {
        flex-direction: column;
    }
     .special {
   margin: 30px 0;
}
     .how-img {
         width: 60%;
     }
     .how-text p {
         width:90%;
     }
     .pay-img {
         width: 60%;
     }
     .pay-text p {
         width: 90%;
         margin: 0 auto;
         padding: 0 20px 0 0;
     }
}